---
BasedOnStyle: Mozilla
AccessModifierOffset: '-4'
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBinaryOperators: NonAssignment
BreakInheritanceList: BeforeColon
ColumnLimit: '100'
ConstructorInitializerIndentWidth: '4'
IndentCaseLabels: 'false'
IndentWidth: '4'
PenaltyBreakBeforeFirstCallParameter: '90'
SortIncludes: 'false'
SpaceAfterTemplateKeyword: 'false'
SpacesInContainerLiterals: 'false'
...
