name: C/C++ CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build_mac:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install Qt
        uses: jurplel/install-qt-action@v2
      - name: Build
        run: |
          qmake
          make
      - name: Test
        run: |
          make check
      - name: Package
        run: |
          macdeployqt app/e2designer.app -verbose=2 -dmg 
          find app
          export version=$(git describe)
      - uses: actions/upload-artifact@v1
        with:
          name: macos installer
          path: app/e2designer.dmg
      - uses: hpcsc/upload-bintray-docker-action@v1
        with:
          repository: e2designer
          package: e2designer
          version: ${{env.version}}
          sourcePath: app/*.dmg
          username: technic
          apiKey: ${{secrets.BINTRAY_API_KEY}}
